
.title_bar {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+32,2c2c2c+50,111111+60,2b2b2b+76,1c1c1c+91,000000+100,131313+100;Black+Gloss+%231 */
		background: #4c4c4c; /* Old browsers */
		background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 32%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #000000 100%, #131313 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 32%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#000000 100%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 32%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#000000 100%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

		margin-bottom:10px;	
}

.container {
	margin-top:10px;
}

.panel {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+19,010101+25,0a0a0a+35,4e4e4e+84,383838+96,1b1b1b+100 */
	background: #959595; /* Old browsers */
	background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 19%, #010101 25%, #0a0a0a 35%, #4e4e4e 84%, #383838 96%, #1b1b1b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 19%,#010101 25%,#0a0a0a 35%,#4e4e4e 84%,#383838 96%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 19%,#010101 25%,#0a0a0a 35%,#4e4e4e 84%,#383838 96%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */

}

.panel {
    color: white;
}

.panel h2 {
    font-size: 14px;
    height: 34px;
    left: 0;
    line-height: 32px;
    right: 0;
	text-align:center
}

.info_sonde {
	margin-left:-10px;
}


.strong{
	margin-left: 10px;
}

strong{
	text-shadow: 0 10px 10px black;
	font-size: 14px;
	font-weight: bold;
    line-height: 48px;	
}

hr {
	margin-left: 30px;
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.unit {
	color:#666;
	margin-left:4px;
    position: absolute;
}


.stable {
	font-size: 20px;
    margin-left: 20px;
    margin-top: 15px;
    position: absolute;
}

.up {
	font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
    position: absolute;	
}

.down {
	font-size: 20px;
    margin-left: 20px;
    margin-top: 15px;
    position: absolute;	
}

select {
	width:150px;
}

.graph {
	padding-top:10px;
}


	
.select_date {
	color:#666;
}



#toolbar_btn {
		background: #4c4c4c; /* Old browsers */
		background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 32%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #000000 100%, #131313 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 32%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#000000 100%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 32%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#000000 100%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	border:none;
	margin-left:8px;
	margin-top:5px;
	text-align:center;
}


.temp_module_left {
	margin-top:30px;
	margin-bottom:10px;
	text-align:center;
}

.temp_min_left > hr {
	margin-left:0;
}

.aside_data {
	border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.4);
	margin-top:50px;
	
}

.humidity_left {
	margin-left:15px;
}

.temp_module_left > .strong {
	text-align::center;
}












